---
import type { Abstract, Author } from "@types";

import { abstracts } from "@dataset";

import "@styles/CETEIcean.css";

import BaseLayout from "@components/BaseLayout.astro";

export async function getStaticPaths() {
  return abstracts.map((abstract: Abstract) => ({
    params: { slug: abstract.xmlPath },
    props: { abstract },
  }));
}

const { abstract } = Astro.props;

const formatAuthor = (author: Author) => {
  return `${author.forenames} ${author.surname}`;
};

const authors = abstract.authors.map(formatAuthor).join(", ");
---

<BaseLayout>
  <div data-pagefind-body set:html={abstract.htmlDom.outerHTML}></div>
  <span data-pagefind-meta={`authors:${authors}`}></span>
  <span data-pagefind-meta={`title:${abstract.title}`}></span>
  {
    abstract.conference && (
      <span data-pagefind-meta={`conference:${abstract.conference}`} />
    )
  }
  {abstract.type && <span data-pagefind-meta={`type:${abstract.type}`} />}
  {
    abstract.keywords.map((keyword: string) => (
      <span data-pagefind-filter={`keywords:${keyword}`} />
    ))
  }
</BaseLayout>
