---
import type { Abstract, Author } from "@types";

import Icon from "./Icon.astro";

export interface Props {
  abstract: Abstract;
}

const { abstract } = Astro.props;

const formatAuthor = (author: Author) => {
  return `${author.forenames} ${author.surname}`;
};
---

<section class="abstract-card">
  <header>
    <a href={`/abstracts/${abstract.xmlPath}`}>{abstract.title}</a>
    {abstract.authors.map(formatAuthor).join("; ")}
  </header>
  <aside>
    {
      abstract.conference && (
        <span class="conference">{abstract.conference}</span>
      )
    }
    <span class="type">
      {abstract.type}
      <Icon name={abstract.type} />
    </span>
  </aside>

  {
    abstract.keywords.length ? (
      <ul>
        {abstract.keywords.map((keyword) => (
          <li class="keyword">{keyword}</li>
        ))}
      </ul>
    ) : null
  }
</section>
